* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

@media (hover: hover) {
  button,
  svg {
    cursor: pointer;
  }
}
