// FONT SIZE
$xxxl: 3rem;
$xxl: 2.5rem;
$xl: 2rem;
$l: 1.75rem;
$m: 1.5rem;
$s: 1.25rem;
$xs: 1rem;
$xxs: 0.75rem;
$xxxs: 0.5rem;

// BREAK POINTS
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1200px;

// COLORS
$primary-dark: #0069d9;
$primary-base: #007bff;
$primary-light: #3093fd;

$secondary-base: #ffd43b;

$white: #fff;
